/**
 * Various tweaks to the Read the Docs theme to better conform with 
 * project vision, in addition to those specified in ctid.css. 
 */

/* override table width restrictions */
html body div.wy-table-responsive table td, .wy-table-responsive table th {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
}

html body div.wy-table-responsive {
    overflow: visible !important;
}

.rst-content span.caption-text {
    font-size: 10pt !important;
    font-style: initial !important;
    color: #999;
}


