.wy-breadcrumbs {
    position: relative;
}

#contribute-button,
#contribute-button:active,
#contribute-button:visited {
    background-color: var(--me-ext-navy);
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    border-radius: 0;
    padding: 1.5em;
    width: 10em;
    position: absolute;
    right: 0;
    top: -2.2em;
    width: 11em;
    font-size: 10pt;
}

#contribute-button:hover {
    background-color: var(--me-hyperlink);
}

.img-border {
    border: 1px solid var(--me-core-gray-light);
    padding: 1em;
}

.img-scale {
    max-width: 75% !important;
}
